.ic-chevron-right-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/chevron-right.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* original class name */
.header-dropdown-arrow-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/arrow-down-filled-triangle-svgrepo-com.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}


/*.ic-16-filled-checked-circle */
.tick-circle-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/check-circle-fill.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	filter: invert(52%) sepia(88%) saturate(2400%) hue-rotate(10deg) brightness(85%) contrast(110%);


}

/* ic-16-filled-star */
.star-icon-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/star-fill.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	filter: invert(74%) sepia(96%) saturate(2400%) hue-rotate(1deg) brightness(102%) contrast(104%);
}

/* ic-24-chevron-left */
.ic-chevron-left-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/chevron-left.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*ic-16-clock */
.ic-clock-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/clock.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}


/*ic-24-s15-trend */
.ic-down-icon-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/trending-up.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*--------------subha------------- */

/*ic-24-search */
.ic-search-icon-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/ic24-search-1.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}


/*ic-chevron-right-custom */
.ic-chevron-right-blue-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/chevron-right.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0;
	/* Light blue tint */
	filter: invert(32%) sepia(96%) saturate(2400%) hue-rotate(205deg) brightness(85%) contrast(110%);
}

/*ic-24-mail */
.ic-mail-icon-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/ic24-email.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	filter: brightness(0) invert(1);

}

/*google_image_container */
.ic-google-icon-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/Google_Favicon_2025.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;

}

/*ic-16-map-pin */
.ic-location-map-icon-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/map-pin-48.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;


}

/*ic-16-money */
.ic-money-icon-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/money-799.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*ic-16-calendar */
.ic-calender-icon-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/cal.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;

}

/*ic-16-map-pin */
.ic-location-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/location.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*ic-16-assignment icon*/
.ic-assignment-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/ic_fluent_assignments_24.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*ic-24-filter-applied*/
.ic-filter-custom {
	width: 16px;
	height: 16px;
	background-image: url("../icons/filter.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*------------subha 08/12/25------------- */
 
/*ic-16-hourglass */
.ic-hourglass-icon-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/hourglass.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
 
}
 
/*ic-16-play-circle */
.ic-play-circle-icon-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/play-circle.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
 
}
 
/*ic-16-reschedule */
.ic-reschedule-icon-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/reschedule.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
 
}
 
/*ic-24-share */
.ic-share-icon-custom {
	width: 18px;
	height: 18px;
	background-image: url("../icons/ic-share-icon.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
	filter: invert(32%) sepia(96%) saturate(2400%) hue-rotate(205deg) brightness(85%) contrast(110%);
 
}
 
/*ic-24-profiles */
.ic-profile-round-custom {
	width: 12px;
	height: 12px;
	background-image: url("../icons/profile-round.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
 
}

/*ic-24-cross*/
.cross-icon-custom{
	width: 12px;
	height: 12px;
	background-image: url("../icons/cross.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
 
}

/*ic-24-mail */
.ic-mail-icon-black-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/ic24-email.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
    filter: brightness(0); 
}

/*ic-24-bell */
.ic-bell-icon-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/bell.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* ic-16-external-link */
.ic-external-link-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/external-link.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* ic-16-twitter */
.ic-twitter-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/twitter.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* ic-24-facebook */
.ic-facebook-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/facebook.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* ic-24-linkedin */
.ic-linkedin-custom {
	width: 20px;
	height: 20px;
	background-image: url("../icons/linkedin.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
