<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta property="fb:app_id" content="702141670710132"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <link rel="preload" href="https://internshala.com/static/images/home/sprites/img-assets.png" as="image"/>
    <meta property="og:title" content="Internshala"/>
    <meta property="og:image" content="https://internshala.com/static/images/internshala_og_image.jpg"/>
    <meta property="og:description" content="Internshala is India's no.1 internship,Jobs and training platform with 40000+ paid internships in Engineering, MBA, media, law, arts, and other streams."/>
    <meta name="twitter:site" content="@Internshala"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@internshala"/>
    <meta name="twitter:image:src" content="https://internshala.com/static/images/internshala_og_image.jpg"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="msapplication-navbutton-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>

    <link rel="stylesheet" href="/css/icons.css" />

    <link as="font" href="/other/fonts/Inter.woff2?v=3.11" type="font/woff2" crossorigin/>
    <link as="font" href="https://internshala.com/static/fonts/internshala-icons.woff2?vw3rgh" type="font/woff2" crossorigin/>
    <script src="/other/js/web_vitals/web-vitals.umd.js"></script>
    <script src="/other/js/includes/common/libraries.2583691470.js" defer></script>
    <link rel="stylesheet" href="/other/cdn/4.4.1/css/bootstrap.min.css"/>

    <link rel="icon" href="../favicon.ico?v=5"/>

    <title>Internships | Jobs | Trainings &amp; Placement Courses | Post a Job</title>
    <meta name="description" content="Internshala is India's no.1 career platform trusted by 400K+ companies. We offer 120K+ paid internships, jobs, online trainings, &amp; placement courses."/>
    <link href="/other/css/registration/registration_verify_email_otp.1764565050.css" rel="stylesheet" type="text/css"/>
    <script src="/other/js/combined/common_form.1764565072.js" defer></script>
    <script src="/other/js/combined/email_verify_with_otp.1736162654.js" defer></script>
    <script src="/other/js/student/app_download.1732685003.js" defer></script>
    <script src="/other/js/footer.1760584489.js" defer></script>

    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        var os_type = "";
        var browser_name = 'wget';
        var is_android = 0;
        var is_mobile = 1;
        var l_cookie = "";
        var view = "registration/verify_email_form";
        var user_id_ga = 0;
        var mainRole = "guest";
        var to_show_account_activated_message = false;
        var to_show_subscription_activated_message = false;
        var location_autocomplete_min_length = 3;
        var fresherJobsMinCtc = 2;
        var show_maintenance_ribbon = false;
        var maintenance_ribbon_message = "";
        var base_url = 'https://internshala.com/';
        var bulk_request_url_with_trailing_slash = 'https://internshala.com/';
        var is_g_recaptcha = "6LdwW1ckAAAAAKcsi3VSrXg49B7GXfisCJDmI9kf";
        var error_ribbon_support_email = "support@internshala.com";
    </script>

    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        function sendToGTM(name, delta, id) {
            if (typeof dataLayer == 'undefined') return;
            dataLayer.push({
                event: 'web-vitals',
                event_category: 'Web Vitals',
                event_action: name.name,
                event_value: Math.round(name.name === 'CLS' ? name.delta * 1000 : name.delta),
                event_label: name.id,
            });
        }
        webVitals.getCLS(sendToGTM);
        webVitals.getFID(sendToGTM);
        webVitals.getLCP(sendToGTM);
        webVitals.getFCP(sendToGTM);
        webVitals.getTTFB(sendToGTM);
    </script>

    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        var pdcVersion = "2";
        var toMakeInitialRequest = 1;
        if (toMakeInitialRequest == 1) {
            store_session_data();
        }

        function store_session_data() {
            var message = "device=" + getDeviceType();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    try {
                        var data = JSON.parse(this.responseText);
                        if (data.success && data.toMakeUpdateRequest) {
                            update_session_data();
                        }
                    } catch (e) {
                        throw_error(e);
                    }
                }
            };
            xhttp.open("POST", "/info/storeData", true);
            xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(message);
        }

        function update_session_data() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/info/updateDeviceCookieVersion", true);
            xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("");
        }

        function getDeviceType() {
            if (typeof isMobile !== 'undefined' && isMobile === '1') {
                return "mobile";
            }
            return "desktop";
        }
    </script>

    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        if (typeof Moengage !== 'undefined') {
            const page_type_for_moengage_view = '';
            if (page_type_for_moengage_view) {
                Moengage.track_event(`${page_type_for_moengage_view}_visits`);
            }
        }
    </script>

    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        var junk_domain_data = {};
        var change_count = 0;
    </script>
</head>

<body>
<div id="wrapper">
    <!-- Notifications and Modals -->
    <div id='error' class="notification"></div>
    <div id='general_notification' class="notification notification_general" style="display: none"></div>
    <div id="custom_notification_parent">
        <div id='custom_notification' class="notification notification_general" style="display: none"></div>
    </div>

    <!-- Modals (error, success, etc.) -->
    <div id="error_modal" class="modal fade in internshala-modal" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="image_container error_image"><div class="image"></div></div>
                    <div class="message_container">
                        <div class="text-heading heading_4_5 small-device-text-center"></div>
                        <div class="text-message body-main small-device-text-center"></div>
                        <div class="button_container">
                            <a class="btn btn-primary modal_primary_btn close_action" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Success modals (similar structure skipped for brevity, but fixed) -->
    <!-- ... other modals ... -->

    <div class="loading_image"></div>
    <div class="nav_dropdown_backdrop"></div>

    <noscript>
        <div class="notification notification_js_disabled" style="display: block;">
            Oops, your browser does not support Javascript. Please use Internshala in another browser.
        </div>
    </noscript>

    <!-- Toasts -->
    <div class="toast internshala-toast loading_toast" id="loading_toast" style="display: none;">
        <div class="toast-body-container">
            <div class="toast-body heading_6_6">Loading, please wait...</div>
        </div>
    </div>
    <!-- Other toasts ... -->

    <div class="popover_overlay"></div>
    <div class="chat_notification_loading_image" style="display: none;"></div>

    <!-- Header -->
    <div id="header" class="container-fluid">
        <div class="max-width-container">
            <nav class="navbar navbar-expand-md">
                <div class="brand_container">
                    <a class="navbar-brand" href="/">
                        <div>
                            <img src="/images/home/sprites/logo_img.png" alt="logo" width="195" height="65">
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container-fluid" id="content">
        <div id="content-inner">
            <div class="max-width-container">
                <div class="verify-box">
                    <div class="mail-logo-container">
                        <picture>
                            <source srcset="/static/images/registration/student_new/Image_email_r575.svg" media="(max-width: 575px)"/>
                            <img src="/static/images/registration/student_new/Image_email_r575.svg" alt="Email verification">
                        </picture>
                    </div>
                    <div class="heading-container">
                        <div class="heading">Verify your email</div>
                        <div class="subheading">
                            <div class="line-1">One Time Password(OTP) has been sent on</div>
                            <div class="line-2">
                                <span>studentemail@gmail.com</span>
                                <i class="edit-v2-custom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-container">
                        <form role="form" id="email-otp-verify-form" method="POST">
                            <input type="email" class="form-control" id="user_email" name="user_email" value="prasantpandam82b@gmail.com" hidden/>
                            <label for="otp" class="control-label char_count">Enter the OTP to verify your email</label>
                            <div class="form-group">
                                <input type="number" class="form-control" id="otp" name="otp" placeholder="Enter 6 digit OTP" required/>
                            </div>
                            <button type="submit" class="btn btn-primary" id="otp-submit">Verify Email</button>
                        </form>
                    </div>
                    <div class="resend-text-container">
                        <div class="countdown">Resend code in 25 seconds</div>
                        <div id="resend-otp-cta"><a href="#">Resend OTP</a></div>
                    </div>
                    <div class="note-text-container">
                        Can't find our email? <span>Check your spam folder or promotions tab too!</span>
                    </div>
                </div>

                <!-- Change Email Box -->
                <div class="change-email-box">
                    <div class="mail-logo-container">
                        <picture>
                            <source srcset="/static/images/registration/student_new/Image_email_r575.svg" media="(max-width: 575px)"/>
                            <img src="/static/images/registration/student_new/Image_email_r575.svg" alt="Change email">
                        </picture>
                    </div>
                    <div class="heading-container">
                        <div class="heading">Edit your email</div>
                    </div>
                    <div class="form-container">
                        <form id="edit-email-form" method="POST" action="/registration/verify_email">
                            <input type="hidden" name="csrf_test_name" value="c38c7ea5267de46269e467e87356be6d"/>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="john@example.com" required/>
                            </div>
                            <button type="submit" class="btn btn-primary" id="email-change-submit">Save and continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Google Conversion Tracking -->
    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        var google_conversion_id = 981478532;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/981478532/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <script nonce="sm7ZRpDskMxccKHmfXpspw==">
        var is_embedded_app = 'no';
        var is_android_user = 'no';
        var is_guest = 1;
        var isInfiniteScroll = 'no' == 'yes';
        var is_company_page = 0;
        var to_show_pgc_campaign_ribbon = false;
        var ai_pgc_ribbon_message = "";
        setTimeout(function() {
            var loading_toast = document.getElementById("loading_toast");
            if (loading_toast) loading_toast.style.display = "block";
        }, 2000);
    </script>
</div> <!-- End of #wrapper -->
</body>
</html>